{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
	"camelcase": [ 2, { "properties": "always" } ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
	  "define":true
  }  
}
